.dados {
    height: 110px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.dados div {
    margin-top: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.acess {
    display: flex;
    flex-direction: column;
}